name: Bump

on:
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch: {}

permissions:
  contents: write
  pull-requests: write

jobs:
  bump-go:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Generate token
        # See:
        #   https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#workarounds-to-trigger-further-workflow-runs
        #   https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#authenticating-with-github-app-generated-tokens
        uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Update go.mod
        id: update-go
        run: |
          GO_VERSION=$(go version | awk '{print $3}' | cut -c 3-)
          echo "GO_VERSION=$GO_VERSION" | tee -a $GITHUB_OUTPUT
          go mod edit -go=$GO_VERSION
          go mod tidy
      - name: Create PR
        uses: peter-evans/create-pull-request@v7
        with:
          token: '${{ steps.generate-token.outputs.token }}'
          commit-message: 'Bump go to ${{ steps.update-go.outputs.GO_VERSION }}'
          title: 'Bump go to ${{ steps.update-go.outputs.GO_VERSION }}'
          body: 'Bump go to ${{ steps.update-go.outputs.GO_VERSION }}'
          branch: 'bump/go'
          delete-branch: true
          author: 'github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>'

  bump-ssh:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Generate token
        uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
      - name: Update ssh.txt
        id: update-ssh
        run: |
          cd internal/pkg/fakever
          ./update.sh
          SSH_VERSION=$(cat ssh.txt)
          echo "SSH_VERSION=$SSH_VERSION" | tee -a $GITHUB_OUTPUT
      - name: Create PR
        uses: peter-evans/create-pull-request@v7
        with:
          token: '${{ steps.generate-token.outputs.token }}'
          commit-message: 'Bump mock ssh to ${{ steps.update-ssh.outputs.SSH_VERSION }}'
          title: 'Bump mock ssh to ${{ steps.update-ssh.outputs.SSH_VERSION }}'
          body: 'Bump mock ssh to ${{ steps.update-ssh.outputs.SSH_VERSION }}'
          branch: 'bump/ssh'
          delete-branch: true
          author: 'github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>'
